
body {
    font-family: 'Fira Sans', sans-serif;
}

.instructionsBtnContainer {
    align-items: center;
    position:relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    top: 100px;
}

.styleLine1 {
    position: absolute;
    width: 94%;
    top: 60px;
    border: 1px solid #006298
}


.subtitle {
    position:absolute;
    color: #006298;
    top: -30px;
    font-size: 50px;
    left: 20px;
}


.header {
    background: #006298;
    height: 120px;
    position: fixed;
    top:0;
    text-align:left;
    font-size: 30px;
    color: white;
    z-index: 2;
    left: 230px;
    
    
    width:100%;
    
}

.header h1 {
    position: absolute;
    top:-9px;
    left: 30px;
}



.dropdown {
    z-index: 2;
    position: fixed;
    width: 230px;
    height: 100vh;
    top:0;
    left:0;
    background-color: #004e78;
    
}

.dropbtn {
    background-color: rgba(111, 176, 216, 0);
    color: white;
    font-size: 105px;
    padding: 0px;
    border: none;
    cursor:pointer;
}

.line {
    border:1px solid #dceff7;

}
  
.menuContent {
    top:0px;
    position: absolute;
    width: 100%;
    height: 100%;
}
.menuContent a {
    color: white;
    padding: 10% 5%;
    font-size: 23px;
    font-weight: 600;
    position: relative; 
    text-decoration: none;
    display: block;
    transition: background-color 0.5s;
}

.logout {
    color: white;
    padding: 10% 5%;
    font-size: 23px;
    font-weight: 600;
    position: relative; 
    text-decoration: none;
    display: block;
    transition: background-color 0.5s;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 23px);
}

.user {
    color: white;
    display: flex;
    font-weight: 600;
    height: 120px;
    top: 0;
    left:0;
    position:relative;
    align-items: center;
    justify-content: center;
}

.user img {
    height: 100px;
    
    
    position: absolute;
}
  
.menuContent a:hover {background-color: #111538}
  
.show {
    display: block;
}

.calcContainer {
    width: calc(100% - 280px);
    left: 250px;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.tables {
    display: flex;
    position: relative;
    height: 160px;
    width: 1550px;
    top: 140px;
    /*border: 3px solid black;*/
}

.subCalc {
    display: flex;
    position: absolute;
    z-index: 0;
    background: #dceff7;
    border-radius: 30px;
    border-style: solid;
    border: 0px;
    top: 90px;
    height: calc(100%);
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    justify-content: center;
}

.calculator {
    border-radius: 30px;
    border-style: solid;
    visibility: hidden;
    display: flex;
    position: absolute;
    border: 0px;
    height: 100%;
    width: 70%;
    font-size: 30px;
    font-weight: 800;
    justify-content: center;
    animation: addSemester 1s ease-in-out forwards;
}

@keyframes addSemester {
    0% {
        top: 30px;
    }
    100% {
        transform: translateY(0px);
    }
}

.styleLine1 {
    position: absolute;
    width: 94%;
    top: 60px;
    border: 1px solid #006298
}

.calculator p {
    position: absolute;
    top: -16px;
    font-weight: 500;
    color: #006298;
}

.semName {
    top: -20px;
    left: 1%;
    height: 50px;
    width: 100%;
    color: #006298;
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    z-index: 1;
    font-size: 40px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
}

.addCourseBtn, .addSemBtn {
    width: 200px;
    height: 50px;
    border-radius: 67px;
    bottom: 10px;
    position: absolute;
    border: 0px;
    font-size: 22px;
    font-weight:600;
    color: white;
    background: #006298;
}

.addCourseBtn {
    left: 10%;
    bottom: 20px;
}
.addSemBtn {
    left: 26%;
    width: 250px;
    height: 70px;
    font-size: 30px;
    bottom: -500px;
    animation: semBtnMove 1s ease-in-out forwards;

}

@keyframes semBtnMove {
    0% {
        transform: translateY(-400px);
    }
    100% {
        transform: translateY(0px);
    }
}

.saveBtn {
    border: 2px solid #006298;
    width: 280px;
    height: 50px;
    position: absolute;
    opacity: 0px;
    background-color:#00497000;
    bottom: 20px;
    top: 30%;
    right: 0%;
    color: #006298;
    font-size: 22px;
    font-weight: 600;
}

.saveBtn:hover {
    color: #004970;
    border: 2px solid #004970;
}

.addCourseBtn:hover, .calculateBtn:hover, .addSemBtn:hover {background: #004970;
}

.inputContainer {
    position: relative;
    box-sizing:border-box;
    margin-top: 70px;
    width:100%;
}

.curStates {
    position: absolute;
    width: 22%;
    left: 28%;
    line-height:50px;
    
}

.goalStates {
    position: absolute;

    left: 51%;
    width: 22%;
    line-height:50px;
}

.courseNames {
    position: absolute;
    left: 3%;
    width: 24%;
    line-height:50px;
}

.progresses {
    position: absolute;
    left: 74%;
    width: 22%;
    line-height: 50px;
}

.course {
    left: 3%;
}

.goalState {
    left: 51%;
}

.curState {
    left: 28%;
}

.progress {
    left: 74%;
}

.goalStates input, .curStates input, .courseNames input, .progresses select {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: #006298;
    
    border: 1px solid #006298;
    padding: 2px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0);
}

.courseNames input {
    padding-left: 10px;
}

.deletes button:hover {color:red}

.gpaContainer {
    width: calc(30% - 30px);
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #DCEFF7;
    position: absolute;
    left: calc(70% + 30px);
    color: #006298;
    align-items: center;
    top: 100%;
    height:max-content;
    display: block;
}

.statuses {
    width: 40%;
    right: 20px;
    top: 0;
    position: absolute; 
    height: max-content;
    
    display: block;
}

.statuses h2 {
    position: relative;
    text-align: right;
}


.groups h2 {
    left: 20px;
    position: relative;
    width: 100%;
}



.name {
    position: absolute;
    left: 20%;
    bottom: 70%;
    font-size: 30px;
    font-weight:600;

}

.weightedGpa, .unweightedGpa {
    position: absolute;
    left: 20px;
}

.groups pre, .statuses pre {
    font-family: 'Fira Sans', sans-serif;
}

.popUp {
    position: fixed;
    top: 50px;
    z-index: 5;
    border-radius: 5px;
    border: 5px solid #003b5b;
    right: 50px;
    width: 300px;
    height: 100px;
    background-color: #DCEFF7;
    animation: fade 10s ease-in-out;
    opacity: 0%;
    display: flex;
}

.message {
    top: -10px;
    position: absolute;
    color: #003b5b;
    text-align: center;
    width: 100%;
}
@keyframes fade {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}