/* Global styles */
body {
    font-family: 'Fira Sans', sans-serif;
}

/* Container for instruction buttons */
.instructionsBtnContainer {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    top: 100px; /* Adjust top position */
}

/* Style for line separator */
.styleLine1 {
    position: absolute;
    width: 94%;
    top: 60px; /* Adjust top position */
    border: 1px solid #006298;
}

/* Header styles */
.header {
    background: #006298;
    height: 120px;
    position: fixed;
    top: 0;
    text-align: left;
    font-size: 30px;
    color: white;
    z-index: 2;
    left: 230px;
    width: 100%;
}

/* Header text styles */
.header h1 {
    position: absolute;
    top: -9px;
    left: 30px;
}

/* Dropdown menu styles */
.dropdown {
    z-index: 2;
    position: fixed;
    width: 230px;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #004e78;
}

/* Dropdown button styles */
.dropbtn {
    background-color: rgba(111, 176, 216, 0);
    color: white;
    font-size: 105px;
    padding: 0px;
    border: none;
    cursor: pointer;
}

/* Separator line style */
.line {
    border: 1px solid #dceff7;
}

/* Menu content styles */
.menuContent {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Menu link styles */
.menuContent a {
    color: white;
    padding: 10% 5%;
    font-size: 23px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    display: block;
    transition: background-color 0.5s;
}

/* Logout link styles */
.logout {
    color: white;
    padding: 10% 5%;
    font-size: 23px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    display: block;
    transition: background-color 0.5s;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 23px);
}

/* User section styles */
.user {
    color: white;
    display: flex;
    font-weight: 600;
    height: 120px;
    top: 0;
    left: 0;
    position: relative;
    align-items: center;
    justify-content: center;
}

/* User image styles */
.user img {
    height: 100px;
    position: absolute;
}

/* Hover effect for menu links */
.menuContent a:hover {
    background-color: #111538;
}

/* Instructions container styles */
.instructions {
    position: absolute;
    left: calc(230px + 3%);
    width: 2000px; /* Adjust width as needed */
    background-color: #dceff7;
    top: 220px; /* Adjust top position */
    border-radius: 20px;
    padding-right: 30px;
}

/* Media query for smaller screens */
@media screen and (max-width: 2300px) {
    .instructions {
        width: calc(95% - 246px); /* Adjust width for smaller screens */
    }
}

/* Instructions title styles */
.instructions h1 {
    top: -90px;
    font-size: 40px;
    position: absolute;
    color: #004e78;
}

/* Instructions subtitle styles */
.instructions h2 {
    left: 20px;
    font-size: 30px;
    position: relative;
    color: #004e78;
}

/* Instructions paragraph styles */
.instructions p {
    left: 20px;
    position: relative;
    color: #004e78;
    font-size: 25px;
}

/* Instructions image styles */
.instructions img {
    border: 3px solid #004e78;
    left: 20px;
    position: relative;
    width: 80%;
    border-radius: 25px;
}
