/* Global styles */
body {
    font-family: 'Fira Sans', sans-serif;
    color: #4A7092; /* Set text color */
}

/* Wrapper container */
.wrapper {
    position: absolute;
    width: 400px;
    height: 440px;
    bottom: 0px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5); /* Border with transparency */
    border-radius: 20px;
    backdrop-filter: blur(20px); /* Blur effect for background */
    box-shadow: 0 0 30px rgba(0, 0, 0, .5); /* Shadow effect */
    z-index: 4;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

/* Title wrapper */
.titleWrap {
    position: absolute;
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: center;
}

/* Title style */
.titleWrap h1 {
    font-size: 60px;
    position: relative;
    left: -10px;
}

/* Title image style */
.titleWrap img {
    height: 100px;
    left: -30px;
    top: 25px;
    position: relative;
}

/* Container for login and register */
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Background style */
.background {
    background-color: #dceff7; /* Set background color */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Login and register transition */
.wrapper .login {
    width: 100%;
    padding: 40px;
    transition: transform .18s ease;
    transform: translateX(0);
}

/* Active login style */
.wrapper.active .login {
    transition: none;
    transform: translateX(-400px);
}

/* Register style */
.wrapper .register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

/* Active register style */
.wrapper.active .register {
    transition: transform .18s ease;
    transform: translateX(0);
}

/* Header style */
.wrapper h2 {
    font-size: 2em;
    color: #4A7092;
    text-align: center;
}

/* Input box container */
.input-box {
    position: relative;
    width: 100%;
    height: 100px;
}

/* Input style */
.input-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: -10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: #4A7092;
    font-weight: 600;
}

/* Button style */
.wrapper .btn {
    width: 100%;
    padding: 10px;
    background-color: #004e78;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Button hover effect */
.wrapper .btn:hover {
    background-color: #00395e;
}

/* Login/register text */
.login-register {
    font-size: .9em;
    color: #4A7092;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

/* Login/register link style */
.login-register p a {
    color: #4A7092;
    font-weight: 600;
}

/* Pop-up message */
.popUp {
    position: fixed;
    top: 50px;
    z-index: 5;
    border-radius: 5px;
    border: 5px solid #003b5b;
    right: 50px;
    width: 300px;
    height: 100px;
    background-color: #DCEFF7;
    animation: fade 10s ease-in-out;
    opacity: 0%;
    display: flex;
}

/* Message style */
.message {
    top: 16px;
    position: absolute;
    color: #003b5b;
    text-align: center;
    width: 100%;
}

/* Fade animation */
@keyframes fade {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
